ENVIRONMENT=local
APP_NAME=VITA API
APP_DESCRIPTION=API de trazabilidad ganadera
APP_VERSION=0.1.0
POSTGRES_URI=postgresql+asyncpg://postgres:postgres@localhost:5432/vita
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
LOG_LEVEL=DEBUG
